{% extends 'base.html' %}
{% load static %}
{% block content %}
<div style="margin-top: 100px;"  class="container">
<ol class="list-group list-group-numbered">
     {% for category in categories %}
      {% if category.products.all %}
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"><a href="{% url 'list' category.slug %}">{{ category.title }}</a></div>
    </div>
    <span class="badge bg-primary rounded-pill">{{ category.products.count }}</span>
  </li>
      {% endif %}
      {% endfor %}
</ol>
    </div>

{% endblock %}

